body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.gif') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(47, 49, 54, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 1000px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #40444b;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    color: #b9bbbe;
}
audio {
    margin-left: 10px;
    width: 500px;
    height: 30px;
    background-color: #7289da;
    border-radius: 200px;
    color: #fff;
}

audio::-webkit-media-controls-panel {
    background-color: #7289da;
    border-radius: 5px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #fff;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}
