body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('background.gif');
    color: #dcddde;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}
.roma-img {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10; 
    opacity: 1;
    transition: transform 5s ease-in-out;
}
.button {
    background-color: #7289da;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.xd-button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: transparent; 
    border: none;
    cursor: pointer; 

}
.xd-button:focus {
    outline: none; 
}
.button:hover {
    background-color: #5a6cb2;
}
.achiv-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.external-link-button {
    position: absolute; 
    top: 0;            
    right: 0;           
    background-color: transparent; 
    border: none;       
    color: inherit;    
    cursor: pointer;  
    padding: 10px;    
}

.external-link-button span {
    visibility: hidden; 
}
.container {
    background-color: #2f3136;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #40444b;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    color: #b9bbbe;
}

audio {
    margin-top: 10px;
    width: 100%;
    background-color: #7289da;
    border-radius: 5px;
    color: #fff;
}

audio::-webkit-media-controls-panel {
    background-color: #7289da;
    border-radius: 5px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #fff;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}
